.container-project {
  width: 100%;
  padding: 40px;
}

.ant-form-item-control-input-content {
  display: block;
}

.tile {
  margin-bottom: 20px;
}


.ant-picker {
  margin-bottom: 20px;
}

.date {
  display: flex;
  gap: 20px;
}