
.form-add-project .ant-input {
  height: 8vh;
}

.form-add-project .ant-picker {
  height: 8vh;
  width: 100%;
}

.form-add-project .ant-form-item-required {
  font-size: 14px!important;
  color: #000!important;
  font-weight: 500;
}

.form-add-project .ant-form-item-label {
  font-weight: 500; 
}
.form-add-project.ant-form {
  padding-top: 20px;
}

