
.form-add-project .ant-input {
  height: 3rem;
}

.form-add-project .ant-picker {
  height: 3rem;
  width: 100%;
}
.form-add-project .ant-select-selector{
  height: 3rem;
  width: 100%;
}

.form-add-project .ant-form-item-required {
  font-size: 14px!important;
  color: #000!important;
  font-weight: 500;
}

.form-add-project .ant-form-item-label {
  font-weight: 500; 
}
.form-add-project.ant-form {
  padding-top: 20px;
}

.form-add-project {
  padding: 0 5% 0 10%;
}