<div style="display: flex; justify-content: center;height: 100vh;">
    <h1>This is your new password</h1>
    <br>
    <br>
    <ul style="width:60%; height:60%; box-shadow: 0 0 10px black; font-size:28px; font-weight:bold">
        <li>username: {{username}}</li>
        <li>email: {{email}}</li>
        <li>your new password: {{newpassword}}</li>
    </ul>
</div>