#root {
  text-align: initial;
}

.tile {
  margin-bottom: 20px;
}

.groupform {
  max-width: 890px;
  display: grid;
  gap: 20px;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
}
.groupform input {
  margin-bottom: 20px;
}

/* Thêm margin-bottom cho DatePicker */
.ant-picker {
  margin-bottom: 20px;
}

.date {
  display: flex;
  gap: 20px;
}
