.form-edit-employee .ant-input {
  min-height: 6vh;
}
.form-edit-employee .ant-form-item {
  margin: 5px;
}
.form-edit-employee textarea {
  min-height: 10vh !important;
  margin-bottom: 10px;
}

.form-edit-employee .ant-picker {
  min-height: 6vh;
  width: 100%;
}

.form-edit-employee .ant-form-item-required {
  font-size: 14px!important;
  color: #000!important;
  font-weight: 500;
}

.form-edit-employee .ant-form-item-label {
  font-weight: 500; 
}

.form-edit-employee {
  padding: 0 5% 0 5%;
}