.ant-select-selector{
    padding:  0 6px !important;
}

.ant-col.ant-col-6.css-dev-only-do-not-override-i46qwz{
    padding-bottom: -3px;
    height: 26px;
    display: flex;
    align-items: end;
}

span.anticon.anticon-logout{
    display: contents;
}

.select{
    margin-top: 5px;
}

.translate{
    display: flex;
}